html{
    height: 100%;
    body{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  }
  *{
    margin: 0;
    padding: 0;
  }
  
  section{
    width: 75%;
    height: 75%;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
  }
  
  section > *{//Afectará a todos los hijos directos de la etiqueta <section>
    border: 2px solid darkblue;
    width: 32%;
    height: 40%;
    position: relative;
  }

.image_one{

    .image__img{
        width: 100%;
        height: 100%;
      }
      
      .image__overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        height: 100%;
          background: rgba(0, 0, 0, 0.6);
          color: #ffffff;
          font-family: 'Quicksand', sans-serif;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 1s;
      }
      
      .image__overlay--blur {
        //Este es el Desenfoque, solo los puse en la imagen tres y dos
          backdrop-filter: blur(5px);
      }
      
      .image__overlay--primary {
          background-color: #009578;
      }
      
      .image__overlay>* {
        transform: translateY(40px); //Todos los textos estaran 40px menos de su posición original
        transition: transform 0.25s;
    }
      
      .image__overlay:hover {
          opacity: 1;
      }
      
      .image__overlay:hover>* {
        //Todos los textos vuelven a su posición original cuando hacemos HOVER
        //Creando así el efecto de que suben
          transform: translateY(0);
      }
      
      .image__title {
          font-size: 2em;
          font-weight: bold;
      }
      
      .image__description {
          font-size: 1.25em;
          margin-top: 0.25em;
      }

}

.image_two{

    .image__img{
        width: 100%;
        height: 100%;
      }
      
      .image__overlay {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          color: #ffffff;
          font-family: 'Quicksand', sans-serif;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 1s;
      }
      
      .image__overlay--blur {
        //Este es el desenfoque
          backdrop-filter: blur(5px);
      }
      
      .image__overlay>* {
          transform: translateY(20px); //Todos los textos estaran 20px menos de su posición original
          transition: transform 0.25s;
      }
      
      .image__overlay:hover {
        // para que al hacer HOVER se vean los textos
          opacity: 0.8;
      }
      
      .image__overlay:hover>* {
        //Todos los textos vuelven a su posición original cuando hacemos HOVER
        //Creando así el efecto de que suben
          transform: translateY(0);
      }
      
      .image__title {
          font-size: 2em;
          font-weight: bold;
      }
      
      .image__description {
          font-size: 1.25em;
          margin-top: 0.25em;
      }

}

.image_three{

    .image__img{
        width: 100%;
        height: 100%;
      }
      
      .image__overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        height: 100%;
          background: rgba(0, 0, 0, 0.6);
          color: #ffffff;
          font-family: 'Quicksand', sans-serif;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 1s;
      }
      
      .image__overlay>* {
        transform: translateY(-40px); //Todos los textos estaran 40px más de su posición original en el eje Y
        transition: transform 0.25s;
    }
      
      .image__overlay:hover {
          opacity: 0.8;
      }
      
      .image__overlay:hover>* {
        //Todos los textos vuelven a su posición original cuando hacemos HOVER
        //Creando así el efecto de que suben
          transform: translateY(0);
      }
      
      .image__title {
          font-size: 2em;
          font-weight: bold;
      }
      
      .image__description {
          font-size: 1.25em;
          margin-top: 0.25em;
      }

}