*{
    margin: 0; padding: 0;
}

body{
    background-color: linear-gradient(
        180deg,
        rgba(204,204,204,1) 0%,
        rgba(238,238,238,1) 50%,
        rgba(204,204,204,1) 100%
    );
    font-family: "Cambria Math";
    min-height: 50vh;
}

.container{
    max-width: 250px;
    margin: 0 auto;
}

.swiper{ margin-top: 40px;}

.swiper-slide{
    margin-bottom: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 30px 30px rgba(0,0,0,1);
    border-radius: 15px;
    height: 420px;
    width: 295px;
    position: relative;
}

.swiper-slide img{
    width: 295px;
    border-radius: 15px;
    height: 420px;
}

.swiper-text{
    position: absolute;
    padding: 25px;
}

.swiper-text h3{
    font-size: 20px;
    margin-bottom: 5px;
    color: #222222;
}

.swiper-wrapper{
    position: fixed;
    width: 80%;
}