html{ width: 100%;    height: 100%;}
*{    margin: 0;    font-family: "Cambria Math";}
body{
    height: 100%;
    background-size: cover;
    background-image: url("/src/pictures/Forest.png");

    #principalBTN{
        margin: 28rem 0 0 8%;
        background-color: transparent;
        height: 3rem;
        width: 18rem;
        border: 2px solid #03001C;
        font-size: 22px; font-weight: bold; font-style: italic;
        text-align: center;
    }
}
#principalBTN:hover{
    background-color: #301E67;
    border-radius: 4px;
    color: #B6EADA;
    transition: 0.5s;
    cursor: pointer;
}

#alert{
    position: fixed; /*Establece que un elemento estará posicionado en relación a la ventana del navegador y no a su contenedor padre. Esto significa que aunque el usuario haga scroll en la página, el elemento con "position: fixed" seguirá en la misma posición en la pantalla.*/
    left: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 5rem;
    background-color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #03001C;
    p{
        text-align: center;
        padding-left: 10px;
    }
    span{
        order: 2;
        align-self: flex-start;
        padding-right: 5px;
        padding-top: 5px;
        font-weight: bold;
        color: red;
    }
    span:hover{
        cursor: pointer;
    }
}
#alert{
    bottom: 100%;
}
